{% extends 'base.html' %}

{% block head %}
    {{ super() }}
        <link rel="stylesheet" href="{{url_for('static', filename='css/createCourseHeader.css')}}">
{% endblock %}

{% block body %}

<main>
    <section class="courseHeaderInput-section">
        <section class="courseHeaderInput-container">
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="title-language-img-container">
                    <div class="title-language-container">
                        <div class="title-section hover-section">
                            <label class="course-title label-element" for="course-title"><span class="required-tag">*</span>Nazwa kursu</label>
                            <input class="course-title-input input-element" id="course-title" type="text" minlength="10" maxlength="50" placeholder="zaawansowany kurs pythona">
                        </div>
                        <div class="line-element"></div>
                        <div class="language-section hover-section">
                            <label class="course-language label-element" for="course-language">Język</label>
                            <input class="course-language-input input-element" id="course-language" type="text" minlength="3" maxlength="50" placeholder="javaScript">
                        </div>
                    </div>
                    <div class="img-container">
                         <label class="image-label" for="course-image"></label>
                         <input class="image-input" id="course-image" type="file" accept="image/png, image/jpg" name="course-image">
                    </div>
                </div>
                <div class="shorter-longer-description-container">
                    <div class="shorter-description-container">
                        <input type="text" class="shorter-description-input" placeholder="krótszy opis" maxlength="100">
                    </div>
                    <div class="line-element"></div>
                    <div class="longer-description-container">
                        <textarea name="longer-description" id="longer-description" class="longer-description" placeholder="dłuższy opis"></textarea>
                    </div>
                </div>
            </form>
        </section>
    </section>
</main>

<script src="{{url_for('static', filename='scripts/changeCourseImage.js')}}"></script>
<script src="{{url_for('static', filename='scripts/sidenav.js')}}"></script>
<script src="{{url_for('static', filename='scripts/showUserData.js')}}"></script>

{% endblock %}