{% extends 'base.html' %}

{% block head %}
    {{ super() }}
        <link rel="stylesheet" href="{{url_for('static', filename='css/createCourseHeader.css')}}">
{% endblock %}

{% block body %}

<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
            {% for category, msg in messages %}
                 <div class="alert alert-type-{{category}}">
                    <p>{{ msg }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <section class="courseHeaderInput-section">
        <section class="courseHeaderInput-container">
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="title-language-img-container">
                    <div class="title-language-container">
                        <div class="title-section hover-section">
                            <label class="course-title label-element" for="course-title"><span class="required-tag">*</span>Nazwa kursu</label>
                            <input name="courseTitle" class="course-title-input input-element" id="course-title" type="text" placeholder="zaawansowany kurs pythona">
                        </div>
                        <div class="line-element"></div>
                        <div class="language-section hover-section">
                            <label class="course-language label-element" for="course-language"><span class="required-tag">*</span>Język</label>
                            <input name="courseLanguage" class="course-language-input input-element" id="course-language" type="text" placeholder="javaScript">
                        </div>
                    </div>
                    <div class="img-container">
                         <label class="image-label" for="course-image"></label>
                         <input name="imagePath" class="image-input" id="course-image" type="file" accept="image/png, image/jpg" name="course-image">
                    </div>
                </div>
                <div class="shorter-longer-description-container">
                    <div class="shorter-description-container">
                        <input name="shorterDescription" type="text" class="shorter-description-input" placeholder="krótszy opis">
                    </div>
                    <div class="line-element"></div>
                    <div class="longer-description-container">
                        <span class="required-tag">*</span><textarea name="longerDescription" id="longer-description" class="longer-description" placeholder="dłuższy opis"></textarea>
                    </div>
                </div>
                <div class="submit-button-section">
                    <div class="button-container">
                        <button type="submit">Stwórz kurs</button>
                    </div>
                </div>
            </form>
        </section>
    </section>
</main>

<script src="{{url_for('static', filename='scripts/changeCourseImage.js')}}"></script>
<script src="{{url_for('static', filename='scripts/sidenav.js')}}"></script>
<script src="{{url_for('static', filename='scripts/showUserData.js')}}"></script>

{% endblock %}